.general-Ssignin {
    background-image: "./Ssignin.jpg";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin:0px ;
    font-family:"Roboto", sans-serif;
    min-height: 100vh;

}



.center-Ssignin {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0px;
   padding: 20vh;
}





.botons {
        
   border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/}
